                                    /* SECCION AGENDA WEB */

.main_agenda{
    background-color:$c-principal;
        height: 61vh;
        margin-top: 2%;
        margin-bottom: 2%;
        
        overflow: hidden;

}

.article_titulo{
    border:$b-dashed;
    width:fit-content ;
    height: fit-content;
    align-self: center;

    & h3{
    color: $c-secundario;
    font-size: 1.5rem;   
    }

    &_agenda{

    width: fit-content;  
    }  
    
    &_boton{
    width: fit-content;  
    }
}


















                                    
