                                    /* SECCION AGENDA WEB */

.main-agenda{
    background-color: rgba(0, 0, 0, 0.9045);
        height: 90%;
        margin-top: 2%;
        margin-bottom: 2%;
    
    
        overflow-y: scroll;
        overflow-x: hidden;

}

.article-titulo h3{

    color: rgba(255, 255, 255, 0.905) ;
    font-size: 1.5rem;   
}

.article-titulo{
    border: 2px dashed rgba(255, 255, 255, 0.905);
    width:fit-content ;
    height: fit-content;
}

.article-calendario{
    height:76%;

    border: 2px dashed rgba(255, 255, 255, 0.905);

   
}

.article-boton{
    width: fit-content;
   
  
}

.boton{
    background-color: rgba(20, 20, 174, 0.674);
    text-decoration: none;
    color:rgba(255, 255, 255, 0.905) ;
 
    
}









                                    
