                                    /* SECCION AGENDA WEB */

.main_agenda{
    background-color:$c-principal;
        height: 60vh;
        margin-top: 2%;
        margin-bottom: 2%;
    
        overflow-y: scroll;
        overflow-x: hidden;

}

.article_titulo h3{

    color: $c-secundario;
    font-size: 1.5rem;   
}

.article_titulo{
    border:$b-dashed;
    width:fit-content ;
    height: fit-content;
    align-self: center;
}

.article_agenda{

    width: fit-content;  
}

.article_boton{
    width: fit-content;  
}














                                    
