                        /* SECCiÓN Desastre's */

 .main-sde{
    background-color:map-get($paleta, "principal");
    height: 66vh;
    margin-top: 1%;

    overflow-y: scroll;
    overflow-x: hidden;

        .sde_img{
   
             width: 100%;
             height: 20%;
            margin-left: 18%;
            margin-top: 10%;
            object-fit: cover;
        }
        .sde_article{
             height: 100%;
        }

        .p-db{
            width: 100%;
            height: 100px;
    
            margin-left: 18%;
            margin-top: 10%;
            overflow-y: scroll;
            color:map-get($paleta, "secundario");
        }

        .volver{
            position: relative;
            left: 40%;
            bottom: 2vh;
        }
 } 
 

@media only screen and (min-width:600px) {
     @include mediaq-sde (25px, 45%);
}

@media only screen and (min-width:750px) {
     @include mediaq-sde (35px, 45%);
}

@media only screen and (min-width:900px) {
     @include mediaq-sde (50px, 47%);
}