                       /* SECCION INICIO */
.main{
    height: 70vh;
    font-family:fredericka;

    .agenda{
    background-color:map-get($paleta, "principal");
    height: 100vh;
    & h3{
    color:map-get($paleta, "secundario");
    display: inline-block;
    }
}
}





  