                                /* SECCION NUESTROS SERVICIOS */



.main-servicios{

            background-color:map-get($paleta, "principal");
            height: 60vh;
            overflow-y: scroll;
          
}

.titulo-servicios{
   border: $b-dashed;
   color: map-get($paleta, "secundario");
   
}

.card{
    width: 300px;
    height: 450px;

    &-precio{
        background-color: map-get($paleta, "c-azul" );
        color: map-get($paleta, "secundario");
    }
   
}
    



