                                /* SECCION NUESTROS SERVICIOS */



.main-servicios{

            background-color:$c-principal;
            height: 60vh;
            overflow: hidden;
}

.listado{

    background-image: url(../images/fondo-tabla.jpg);
    background-size: auto;
    border:$b-dashed;
    color:$c-secundario;
    width: 60vw;
    height: 40vh;

    position: relative;
    right: 25%;
    .hover:hover{
    background-color:$c-principal ;
    transition:  ease-in-out 0.5s;
}
}
    
    



