                                /* SECCION NUESTROS SERVICIOS */



.main-servicios{

            background-color:map-get($paleta, "principal");
            height: 60vh;
            overflow-y: scroll;
          
}

.titulo-servicios{
   border: $b-dashed;
   color: map-get($paleta, "secundario");
   
}

.card{
    @extend .molde_card;

    &:hover{
    transition: 1.2s;
    transform: rotateX(360deg);
    cursor: pointer;
        }  
}
    



