                          /* ASIDE */
.aside{
    background-color:map-get($paleta, "bg-aside");
    border:$b-dashed;
    width: 60px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position:fixed; 
    z-index: 4;
    transition: ease-in-out, 0.5s;
    & li:hover{

        width: 130%;      
}
}

