                                /* FOOTER */

.footer{
  background-color:$c-principal;
  border-top:$b-dashed;
  font-size: 10px;
  display: flex;
  align-self: end;
  height: 20vh;
}

h3 {
  font-size: 10px;
}
