                                /* FOOTER */

.footer,
.footer-diseños {
  background-color: rgba(0, 0, 0, 0.9);
  border-top: dashed rgba(255, 255, 255, 0.905);
  font-size: 10px;
  display: flex;
  align-self: end;
  height: 28vh;
  position: relative;
  top: 5%;
}

h3 {
  font-size: 10px;
}
