                            /* HEADER */

.nav {
    background-color:map-get($paleta, "principal");
    border-bottom: $b-dashed;
    &_icon{
        background-color:map-get($paleta, "secundario");
    }
    & div a {
    color:map-get($paleta, "secundario");
}
    &_iconMenu{
         background-color:map-get($paleta, "secundario");

    }
.desplegable {
     background-color:map-get($paleta, "principal");
}
}

