                            /* HEADER */

.barra-nav {
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom: 2px dashed rgba(255, 255, 255, 0.905);
}

.barra-nav div a {
    color: rgba(255, 255, 255, 0.905);
}

.icon-menu {
    background-color: rgba(255, 255, 255, 0.905);
}

 .desplegable {
     background-color: rgba(0, 0, 0, 0.9);
}