                            /* HEADER */

.nav {
    background-color: $c-principal;
    border-bottom: $b-dashed;
    &_icon{
        background-color:$c-secundario;
    }
    & div a {
    color:$c-secundario;
}
    &_iconMenu{
         background-color:$c-secundario;

    }
.desplegable {
     background-color:$c-principal;
}
}

