@font-face {
    font-family:blaka;
    src: url(../../fuentes/blaka.ttf);
}

@font-face {
    font-family: fredericka;
    src: url(../../fuentes/fredericka.ttf);
}



main, footer, .hero{
    font-family:fredericka ;
}


