@font-face {
    font-family:blaka;
    src: url(../../fuentes/blaka.ttf);
}

@font-face {
    font-family: fredericka;
    src: url(../../fuentes/Fredericka.ttf);
}

.nav{
    font-family:blaka;
}

main, footer, .hero{
    font-family:fredericka ;
}


