@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: melody;
  src: url(../../fuentes/melody.otf);
}
* {
  font-family: melody;
}

body {
  background-image: url(../images/imagenbackground2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}

/* HEADER */
.nav {
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom: dashed 2px rgba(255, 255, 255, 0.905);
}
.nav_icon {
  background-color: rgba(255, 255, 255, 0.905);
}
.nav div a {
  color: rgba(255, 255, 255, 0.905);
}
.nav_iconMenu {
  background-color: rgba(255, 255, 255, 0.905);
}
.nav .desplegable {
  background-color: rgba(0, 0, 0, 0.9);
}

.hero {
  height: 89vh;
  background-color: rgba(0, 0, 0, 0.9);
}

.hero_boton {
  height: 10%;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.905);
  transition: ease-in-out 0.5s;
}
.hero_boton.hero_boton:hover {
  background-color: rgba(255, 255, 255, 0.905);
  color: rgba(255, 255, 255, 0.905);
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .hero_boton {
    width: 300px;
  }
}
.agenda_boton {
  width: 50%;
  background-color: rgb(37, 37, 247);
  border: dashed 2px rgba(255, 255, 255, 0.905);
  color: rgba(255, 255, 255, 0.905);
  margin-left: 20%;
}

@media only screen and (max-width: 500px) {
  .agenda_boton {
    width: 200px;
    margin-left: 0%;
  }
}
@media only screen and (max-width: 800px) {
  .agenda_boton {
    width: 200px;
    margin-left: 10%;
  }
}
.boton_enviar {
  color: rgba(255, 255, 255, 0.905);
  border-color: rgba(255, 255, 255, 0.905);
  transition: 0.5s;
}
.boton_enviar:hover {
  background-color: rgba(255, 255, 255, 0.905);
  color: rgb(37, 37, 247);
}

.boton, .boton-disenios, .boton-servicios {
  background-color: rgb(37, 37, 247);
  border: solid 1px rgba(255, 255, 255, 0.905);
  width: 150px;
  height: 30px;
}
.boton_ancla {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.905);
}
.boton:hover, .boton-disenios:hover, .boton-servicios:hover {
  background-color: rgba(255, 255, 255, 0.905);
  color: rgb(37, 37, 247);
  transition: ease-in-out 0.3s;
}

.boton-disenios, .boton-servicios {
  position: relative;
  left: calc(50% - 75px);
}

/* ASIDE */
.aside {
  background-color: rgba(0, 0, 0, 0.3);
  border: dashed 2px rgba(255, 255, 255, 0.905);
  width: 60px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 4;
  transition: ease-in-out, 0.5s;
}
.aside li:hover {
  width: 130%;
}

/* SECCION INICIO */
.main {
  height: 70vh;
}
.main .agenda {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
}
.main .agenda h3 {
  color: rgba(255, 255, 255, 0.905);
  display: inline-block;
}

/* FOOTER */
.footer {
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 10px;
  display: flex;
  align-self: end;
  height: 20vh;
}

/* SECCiÓN Desastre's */
.main-sde {
  background-color: rgba(0, 0, 0, 0.9);
  height: 66vh;
  margin-top: 1%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.main-sde .sde_img {
  width: 100%;
  height: 20%;
  margin-left: 18%;
  margin-top: 10%;
  object-fit: cover;
}
.main-sde .sde_article {
  height: 100%;
}
.main-sde .p-db {
  width: 100%;
  height: 100px;
  margin-left: 18%;
  margin-top: 10%;
  overflow-y: scroll;
  color: rgba(255, 255, 255, 0.905);
}
.main-sde .volver {
  position: relative;
  left: 40%;
  bottom: 2vh;
}

@media only screen and (min-width: 600px) {
  .sde_article {
    margin-right: 25px;
  }
  .volver {
    left: 45%;
  }
}
@media only screen and (min-width: 750px) {
  .sde_article {
    margin-right: 35px;
  }
  .volver {
    left: 45%;
  }
}
@media only screen and (min-width: 900px) {
  .sde_article {
    margin-right: 50px;
  }
  .volver {
    left: 47%;
  }
}
/* SECCION DISEÑOS */
.main-diseños {
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 2%;
  margin-bottom: 2%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.contenedor_img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contenedor_img:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.contenedor {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}
.contenedor__img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contenedor__img .img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.rectangular {
  grid-column: span 2;
}

@media only screen and (min-width: 800px) {
  .contenedor {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: 150px;
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
  .rectangular {
    grid-column: auto;
  }
  .none {
    display: none;
  }
}
.carrousel {
  width: 100%;
  height: 55%;
  transition: transform 0.3s ease-in-out;
}
.carrousel:hover {
  filter: opacity(0.9);
  transform: scale(1.02);
}
.carrousel_img {
  object-fit: fill;
  border-radius: 4px;
}

/* SECCION NUESTROS SERVICIOS */
.main-servicios {
  background-color: rgba(0, 0, 0, 0.9);
  height: 60vh;
  overflow-y: scroll;
}

.titulo-servicios {
  border: dashed 2px rgba(255, 255, 255, 0.905);
  color: rgba(255, 255, 255, 0.905);
}

.card {
  width: 300px;
  height: 450px;
}
.card-precio {
  background-color: rgb(37, 37, 247);
  color: rgba(255, 255, 255, 0.905);
}

/* SECCION AGENDA WEB */
.main_agenda {
  background-color: rgba(0, 0, 0, 0.9);
  height: 61vh;
  margin-top: 2%;
  margin-bottom: 2%;
}

.article_titulo {
  border: dashed 2px rgba(255, 255, 255, 0.905);
  width: fit-content;
  height: fit-content;
  align-self: center;
}
.article_titulo h3 {
  color: rgba(255, 255, 255, 0.905);
  font-size: 1.5rem;
}
.article_titulo_agenda {
  width: fit-content;
}

/*# sourceMappingURL=main.css.map */
